<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 mapper와 중복되지 않도록 네임 스페이스 기재 -->
<mapper namespace="member">
	
	
	
	
	<resultMap type="HashMap" id="buyResultMap">
		<id column="userid" property="userid" />
		<id column="count(*)" property="count" />
	</resultMap>
	<select id="selectCount" resultType="int" parameterType="java.lang.String">
		select count(*) from member where userid=#{userid}
	</select>
		
	<select id="nicknameCheck" resultType="int" parameterType="java.lang.String">
		select count(*) from member where nickname=#{nickname}	
	</select>	
		
	<select id="selectLoginInfo" resultType="com.example.EBookProject.model.dto.MemberDTO">
		select * from member where userid=#{userid} and userpw=#{userpw}
	</select>
		
		<select id="logincheck" resultType="int">
		select count(*) from member where userid=#{userid} and userpw=#{userpw}
	</select>
	
	
	<!-- 회원목록 출력 -->
	<select id="memberlist" resultType="com.example.EBookProject.model.dto.MemberDTO">
		select * from member order by user_no
	</select>
	
	<!-- 회원 탈회  -->
	<delete id="deletemember" parameterType="com.example.EBookProject.model.dto.MemberDTO">
	DELETE FROM member WHERE user_no = #{user_no}
	</delete>
	
	<insert id="signup" parameterType="com.example.EBookProject.model.dto.MemberDTO">
	insert into member(user_no,userid,userpw,username, nickname,email,birthdate,login_class) 
	values (seq_userno.nextval,#{userid},#{userpw},#{username},#{nickname},#{email},#{birthdate},1)
	</insert>
	
	<select id="searchID" resultType="com.example.EBookProject.model.dto.MemberDTO">
	select * from member where username=#{username} and nickname=#{nickname} and birthdate=#{birthdate}
	</select>
	
	
	<select id="searchPW" resultType="com.example.EBookProject.model.dto.MemberDTO">
	select * from member where username=#{username} and userid=#{userid} and birthdate=#{birthdate}
	</select>
	
	<!-- 관리자페이지에서 쿠키 조절 -->
	<update id="cookiemanager" parameterType="com.example.EBookProject.model.dto.MemberDTO">
	update member set cash=#{cash} where user_no=#{user_no}
	</update>

</mapper>