<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>

		<!-- <typeAlias type="sampleDTO" alias="com.example.EBook.model.dto.*sampleDTO" 
			/> -->
		<!-- *Mapper.xml => resultType="sampleDTO" -->

		<!-- <typeAlias type="memberdto" alias="com.example.EBookProject.model.dto.MemberDTO" /> -->

	</typeAliases>

</configuration>