@charset "UTF-8";

body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 15% 1fr 10%;
  grid-template-columns: 20% 1fr 20%;
  grid-gap: 20px;
  height: 100vh;
  margin: 0;
  }
#pageHeader, #pageFooter, #mainArticle, #mainNav, #siteAds {
  padding:10px;
  border:1px dotted;
}

#pageHeader {
  grid-area: header;
  position:fixed;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  }
