@charset "UTF-8";
.white_content {
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
   position: absolute;
   top: 25%;
   left: 25%;
   width: 30%;
   height:  50%;
   padding: 16px;
   background-color: white;
   overflow: auto;   
   
}
.white_content > div> button
{
   margin: auto;
}
.white_content > div> img
{
   margin: auto;
   width: 30%;
   height: 50%; 
}

 body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

a { text-decoration:none } 