@charset "UTF-8";

/*  */
#pageFooter {
	background-color: #00AF5B;
	padding: 0;
	width: 100%;
	height: 100%;
}

.careful {
	text-align: center;
	color: #234C63;
	margin-bottom: 10px;
}
.footer {
	display: flex;
}
.footer_center1, .footer_center2, .footer_center3{
	text-align: -webkit-left;
	width: 23vw;
	height: 20vh;
	font-size: 1.5vh;
	margin: 0 80px;
}

.footer_center p {
	margin: 0;
	font-size: x-small;
}

.footer_icons {
	display: flex;
	flex-direction: column;
}
.footer_icons img {
	width: 2vw;
	height: 3vh;
	margin:10px;
	cursor:pointer;
}