@charset "UTF-8";

/*  */
#pageFooter {
	background-color: #112d4e;
	padding: 0;
	width: 100%;
	height: 100%;
}

.careful {
	text-align: center;
	color: red;
	margin-bottom: 10px;
}

.footer {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer_logo img {
	width: 10vw;
	height: 10vh;
	border-radius: 50px; 
	
}

.footer_center {
	text-align: -webkit-left;
	width: 25vw;
	height: 20vh;
	font-size: 1vh;
}

.footer_center p {
	margin: 0;
	font-size: x-small;
}

.footer_icons {
	display: flex;
	flex-direction: column;
}
.footer_icons img {
	width: 2vw;
	height: 3vh;
	margin:10px;
	cursor:pointer;
}