@charset "UTF-8";

#pageFooter {
	background-color: #112d4e;
	padding: 0 10px 0 10px;
}

.careful {
	text-align: center;
	color: red;
	margin-bottom: 10px;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 80px;
	align-items: center;
}


.footer_logo img {
	width: 200px;
	height: 150px;
	border-radius: 50px; 
	
}

.footer_center {
	text-align: -webkit-left;
}

.footer_center p {
	margin: 0;
	font-size: x-small;
}

.footer_icons {
	display: flex;
	margin-right: 80px;
	flex-direction: column;
}
.footer_icons img {
	width:30px;
	height: 30px;
	margin:10px;
	cursor:pointer;
}