@charset "UTF-8";
/* section3 */
#section3 {
	width: 60vw;
	height: 77vh;
	margin: 60px 0;
}
#section3 .rank {
	width: 60vw;
	height: 69vh;
}
#section3 .title {
	width: 60vw;
	height: 6vh;
	float: left;
}
#section3 .title h1 {
	font-size: 40px;
	font-weight: 900;
	margin: 0 0 0 20px;
}
#section3 .rank hr {
	border: solid -0.8px gray;
	margin: 0;
	padding: 0;
}
#section3 .bookrank {
	height: 61vh;
	clear: both;
}
#section3 .text {
	height: 14vh;
}
#section3 .text h2 {
	margin: 0 23px;
	padding: 0;
	align-items: center;
}
#section3 .text h5 {
	margin: 5px 23px;
	padding: 0;
	align-items: center;
}
#section3 .text a {
	margin: 0px 25px;
}
#section3 .bookrank1, .bookrank2, .bookrank3, .bookrank4, .bookrank5 {
	height: 14vh;
	display: flex;
	align-items: center;
}
#section3 .bookrank1 p {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 40px;
}
#section3 .bookrank2 p {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 40px;
}
#section3 .bookrank3 p {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 40px;
}
#section3 .bookrank4 p {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 40px;
}
#section3 .bookrank5 p {
	font-size: 30px;
	font-weight: 700;
	margin: 10px 40px;
}
#section3 .bookrank1 img {
	width: 7vw;
	height: 14vh;
}
#section3 .bookrank2 img {
	width: 7vw;
	height: 14vh;
}
#section3 .bookrank3 img {
	width: 7vw;
	height: 14vh;
}
#section3 .bookrank4 img {
	width: 7vw;
	height: 14vh;
}
#section3 .bookrank5 img {
	width: 7vw;
	height: 14vh;
}
#section3 .bookrank1 hr {
	border: solid 0.3px gray;
}


/* section4 */
#section4 {
	width: 60vw;
	height: 36vh;
	margin: 60px 0 0 0;
}
#section4 .todaybook {
	width: 60vw;
	height: 9vh;
	float: left;
}
#section4 .todaybook > h1 {
	font-size: 40px;
	font-weight: 900;
	margin: 0 0 0 20px;
}
#section4 .books {
	width: 60vw;
	height: 27vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
	-ms-overflow-style: none;
	flex-flow: row nowrap;
	justify-content: space-around;
}
#section4 .book1 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .book2 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .book3 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .book4 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .book5 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .book6 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section4 .cover {
	width: 100%;
	height: 22vh;
	margin: 0;
	justify-content: center;
}
#section4 .cover >img {
	width: 9vw;
	height: 22vh;
	display: block;
	margin: auto;
}
#section4 .title {
	color: #333;
	padding-top: 10px;
	line-height: 20px;
	text-align: center;
}
#section4 .title > b {
	letter-spacing: -2px;
	display: inline-block;
	
}
#section4 .title span {
	font-size: 14px;
	font-color: black;
	font-weight: 400;
	text-align: center;
}


/* section5 */
#section5 {
	width: 100%;
	height: 43vh;
	margin: 60px 0 0 0;
}
#section5 .todaybook {
	width: 60vw;
	height: 9vh;
	float: left;
}
#section5 .todaybook > h1 {
	font-size: 40px;
	font-weight: 900;
	margin: 0 0 0 20px;
}
#section5 .books {
	width: 60vw;
	height: 43vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
	-ms-overflow-style: none;
	flex-flow: row nowrap;
	justify-content: space-around;
}
#section5 .book1 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .book2 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .book3 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .book4 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .book5 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .book6 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section5 .cover {
	width: 100%;
	height: 22vh;
	margin: 0;
	justify-content: center;
}
#section5 .cover >img {
	width: 9vw;
	height: 22vh;
	display: block;
	margin: auto;
}
#section5 .title {
	color: #333;
	padding-top: 10px;
	line-height: 20px;
	text-align: center;
}
#section5 .title > b {
	letter-spacing: -2px;
	display: inline-block;
	
}
#section5 .title > span {
	font-size: 14px;
	color: #666;
	font-weight: 400;
	text-align: center;
}


/* 광고 배너 */
#adverbanner {
	width: 60vw;
	height: 30vh;
    margin: 15px 0 30px 0; 
}
/* #adverbanner .adver {
	height: 250px;
	background: linear-gradient( to right, blueviolet, #bbfc90);
	margin: 0 0 50px 0;
}  */
.adver img {
	width: 60vw;
	height: 30vh;
	margin: 0;
	padding: 0;
}


/* section6 */
#section6 {
	width: 100%;
	height: 43vh;
	margin: 60px 0;
}
#section6 .todaybook {
	width: 60vw;
	height: 9vh;
	float: left;
}
#section6 .todaybook > h1 {
	font-size: 40px;
	font-weight: 900;
	margin: 0 0 0 20px;
}
#section6 .books {
	width: 60vw;
	height: 35vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
	-ms-overflow-style: none;
	flex-flow: row nowrap;
	justify-content: space-around;
}
#section6 .book1 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .book2 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .book3 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .book4 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .book5 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .book6 {
	width: 9vw;
	height: 25vh;
	padding: 0;
	margin: 0;
}
#section6 .cover {
	width: 100%;
	height: 22vh;
	margin: 0;
	justify-content: center;
}
#section6 .cover >img {
	width: 9vw;
	height: 22vh;
	display: block;
	margin: auto;
}
#section6 .title {
	color: #333;
	padding-top: 10px;
	line-height: 20px;
	text-align: center;
}
#section6 .title > b {
	letter-spacing: -2px;
	display: inline-block;
	
}
#section6 .title > span {
	font-size: 14px;
	color: #666;
	font-weight: 400;
	text-align: center;
}
