@charset "UTF-8";
    body { 
      display: grid;
      grid-template-areas: 
        "header header header"
        "nav article ads"
        "footer footer footer";
      grid-template-rows: 15% 1fr 25%;
      grid-template-columns: 20% 1fr 20%;
      grid-gap: 20px;
      height: 100vh;
      margin: 0;
      }
    /* #pageHeader, #pageFooter, #mainArticle, #mainNav, #siteAds {
      padding: 10px;
      border:1px dotted;
    } */
    #pageHeader {
      grid-area: header;
      position:fixed;
    }
    #pageFooter {
      grid-area: footer;
    }
    #mainArticle { 
      grid-area: article;      
      }
    #mainNav { 
      grid-area: nav; 
      }
    #siteAds { 
      grid-area: ads; 
      }
      
.setTitle {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 40px 0;
}
#headTitle {
    margin-left:20px;
    width:41.3vw;
    height:32vh;
}

.blank {
    display:hidden;
    height:10.4vh;
}
.container {
	display: flex;
    text-align: center;
    height:8vh;
    
}

.detail {
  margin-left:0.8rem;
}

.item {
	flex: 1 1 0;
    display:inline-block;
    position: relative;
    margin: 7px 14px;
    color:#262626;
    font-size: 1.5vh;
}

.item:nth-child(1) {
    background:#aacaa2;
}
.item:nth-child(2) {
    background:#71af7698;
}
.item:nth-child(3) {
    background:#2bb33698;
}


.free_coin_info {height:3.333rem; line-height:3.5rem; margin:2.083rem 1.25rem 0; padding:0 1.25rem;  border-radius:1.667rem; overflow:hidden; background:#ededed;}
.free_coin_info p {float:left; font-weight:bold; font-size:0.917rem;}
.free_coin_info span {float:right;}
.free_coin_info span i {font-weight:bold; color:#19b9f4;}

.coin_necessary {height:3.333rem; line-height:3.5rem; margin:2.083rem 1.25rem 0; padding:0 1.25rem;  border-radius:1.667rem; overflow:hidden; background:#ededed;}
.coin_necessary p {float:left; font-weight:bold; font-size:0.917rem;}
.coin_necessary span {float:right;}
.coin_necessary span i {font-weight:bold; color:#19b9f4;}


.detail_list {margin-top: 0.833rem;}
.detail_list ol {border-top:0.083rem solid #ebebeb;}
.detail_list ol li {border-bottom:1px solid #ebebeb;}
.detail_list ol li a {display:block; position: relative; overflow:hidden;  color:#2f2f2f;}
.detail_list ol li .img {float:left; margin-right:0.833rem; border: 1px solid #e2e2e2;}
.detail_list ol li .img img {width:8.667rem; height:5.75rem;}
.detail_list ol li .text {float:left; width:calc(100%); margin-left:0.8rem;}
.detail_list ol li .text strong {display:block; margin-top:0.833rem; margin-bottom:0.5rem; line-height:1;  font-size:1.083rem;}
.detail_list ol li .text i {color:#7e7e7e; font-size:0.917rem;}
.detail_list ol li .display{display:inline-block; position:absolute; left:1.35rem; top:0.693rem; width:1.667rem; height:1.833rem; line-height:1.833rem; text-align:center; color:#fff; font-size:0.667rem; background:url(/assets/img/icon/display.png) 0 0 no-repeat; background-size:1.667rem 1.833rem;}

.detail_list ol li .approval  {position: absolute; right:1.25rem; top:50%; transform:translateY(-50%); text-align: right; vertical-align: middle;}
.detail_list ol li .approval .coin {display:inline-block; padding:0.417rem 0 0.417rem 1.667rem; color:#2f2f2f; font-size:1.083rem; font-weight:700; background-size:1.25rem;}
.detail_list ol li .approval .date {display:block; margin-top:0.167rem; color:#7e7e7e; font-size:0.917rem;}

.detail_list ol li .approval .coin .free {background-size:1.25rem;}
.detail_list ol li .approval .use {color:#19b9f4; font-size:1.083rem;}
.detail_list ol li {list-style: none ;}
.detail_list ol {padding:0;}